@import	url("https://fonts.googleapis.com");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');

*{
	padding: 0;
	margin: 0;
}

body{
	background-image: url('https://i.pinimg.com/originals/cd/7a/52/cd7a524daa34127d5860f6c138c2473a.jpg');
	background-size: cover;
	background-attachment: fixed;
}	

header{
	height: 75px;
	padding: 10px;
	box-sizing: border-box;
	background: rgba(38, 0, 232, 0.6);
	border-bottom: 1px solid #fff;
}

header .logo{
	padding: 20px 20px;
	height: 20px;
	float: left;
	font-size: 24px;
	font-weight: bold;
	font-family: 'Arial';
	color: white;
}

header ul{
	list-style: none;
	float: right;
	margin: 20px;
	padding: 0;
	display: flex;
}

header ul li a{
	font-family: 'Arial';
	line height: 80px;
	color: white;
	padding: 12px 30px;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	transition: .5s ;
}

header ul li a:hover{
	background: rgba(0, 0, 0, 0.7);
	border-radius: 7px;

}

section{
	margin-top: 80px;
}

.tutop{
	color: white;
	text-align: center;
	border: 5px solid white;
	border-radius: 12px;
	width: 40%;
	margin: auto;
	padding: 10px;
	font-size: 18px;
	background-color: rgba(0, 0, 0, 0.5);
	transition: .3s;
}

.text{
	background-color: rgba(210, 210, 210,0.2);
	border: 5px solid white;
	margin: 45px;
	border-radius: 15px;

}

.boxbody{
	display: flex;
}

#albumphoto{
	width: 100%;
	margin: 6px;
	text-align: center;

}

#albumphoto, img{
	object-fit: contain;
	width: 190px;
	height: 190px;
	border-radius: 14px;
	box-shadow: 
	0px 3px 3px
	rgba(0,0,0,0.5)
	;	
}
#title{
	margin: 25px;
	tex
}

#title h2{
	font-family: 'Poppins', sans-serif;
}

#title p{
}

.autor{
	border: 3px solid white;
	border-radius: 5px;
	text-align: center;
	font-family: 'Mukta', sans-serif;
	transition: .5s;
	font-weight: bold;
	padding: 5px;
	margin-top: 5px;
}
.autor:hover{
	border: 3px solid white;
	background: white;
	border-radius: 5px;
	transition: .3s;
	object-fit: contain;
}

.topsong{
	color: white;
	margin: auto;
	padding: 10px;
	font-family: 'Poppins', sans-serif;
	background: rgba(0, 0, 0, 0.4);
	border: 2px solid rgba(0, 0, 0, 0.0);
	border-radius: 15px;
}

.listen{
	border: 5px solid rgba(89, 109, 255, 0.5);
	border-radius: 12px;
	padding: 5px;
	margin-top: 15px;
	background-color: rgba(226, 226, 226, 0.5);
	transition: .3s;
	text-align: center;
}

.listen:hover{
	background: white;
	border-color: black;

}

.listen a{
	font-family: 'Mukta', sans-serif;
	text-decoration: none;
}