body{
	margin: 0px;
}	
.cabecera{
	background: linear-gradient(15deg,#1363DF,#47B5FF,#DFF6FF);
	text-align: right;
	padding: 2px;
}

.titulo{
	text-align: center;
	font font-family: 'Arial';
}

.main a{
	text-decoration: none;
	margin: 10px;
}