@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&family=Rubik&display=swap');

*{
	padding: 0;
	margin: 0;
}

body{
	background-image: url(fondos/fondo7.jpg);
	background-size: cover;
}	

.regresar{
	margin: 20px;
	padding: 6px;
	border: 5px solid black;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.5);
	width: 10%;
	text-align: center;
}

.regresar a{
	font-size: 23px;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	text-decoration: none;
}

.boxdisc{
	border: 5px solid white;
	width: 40%;
	height: 40%;
	margin: 100px auto auto auto;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.4);
}

.title{
	text-align: center;
	margin: 25px;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
}

.boximage{
}

.profileimage{
	text-align: center;
	padding: 0px;

}

.profileimage img{
	width: 40%;
	border-radius: 15px;
}

.user{
	text-align: center;
	margin: 2px;
	color: white;
	font-family: 'Rubik', sans-serif;

}